<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Heartstone decking</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Accueil</a></li>
      <li><a href="login">Connexion</a></li>
      <li><a href="register">Inscription</a></li> 
    </ul>
  </div>
</nav>