<div ng-controller='loginCtrl'>
	<form role="form" ng-submit="loginUser()">
		<div class="form-group">
			<label>Email :</label>
			<input type="email" class="form-control" ng-model="email" placeholder="Entrer votre email">
		</div>
		<div class="form-group">
			<label>Mot de passe :</label>
			<input type="password" class="form-control" ng-model="password" placeholder="Entrer votre mot de passe">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Connexion</button>
		</div>
	</form>
</div>