<div ng-controller='registerCtrl'>
	<div ng-if="error != null">
		<p>{{err}}</p>
	</div> 
	<form role="form" ng-submit="createUser()">
		<div class="form-group">
			<label>Pseudo :</label>
			<input type="text" class="form-control" ng-model="nickname" placeholder="Entrer votre pseudo">
		</div>
		<div class="form-group">
			<label>Email :</label>
			<input type="email" class="form-control" ng-model="email" placeholder="Entrer votre email">
		</div>
		<div class="form-group">
			<label>Mot de passe :</label>
			<input type="password" class="form-control" ng-model="password" placeholder="Entrer votre mot de passe">
		</div>
		<div class="form-group">
			<label>Mot de passe confirmation :</label>
			<input type="password" class="form-control" ng-model="password_confirmation" placeholder="Confirmer votre mot de passe">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Inscription</button>
		</div>
	</form>
</div>